@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Roboto+Slab:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  line-height: 1.7;
  font-weight: 400;
  color: #777777;
}

.primary {
  font-size: 6rem;
  letter-spacing: -3px;
  line-height: 6.5rem;
  color: #fff;

  @include media(small) {
    font-size: 5rem;
  }

  &--animated {
    animation: moveInLeft 1s ease-out;
  }

  &--center {
    text-align: center;
  }
}

.secondary {
  font-size: 4rem;
  letter-spacing: -2px;
  line-height: 4.5rem;
  font-weight: bold;
  color: #222222;

  @include media(small) {
    font-size: 3rem;
  }

  &--light {
    color: #fff;
  }

  &--center {
    text-align: center;
  }

  > span {
    color: #7cc576;
  }
}

.tertiary {
  font-size: 1.8rem;
  color: #222222;
  font-weight: 700;

  &--light {
    color: #fff;
  }
  
  &--center {
    text-align: center;
  }
}

.subtitle {
  font-family: "Roboto Slab";
  font-size: 2rem;
  text-align: center;

  &--animated {
    animation: 1s moveInRight ease-out;
  }

  &--light {
    color: #cccccc;
  }
}