.sprite {
  background-image: url(../../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-Envato {
  width: 161px;
  height: 30px;
  background-position: -5px -5px;
}

.sprite-Facebook {
  width: 11px;
  height: 19px;
  background-position: -176px -5px;
}

.sprite-Google_ {
  width: 17px;
  height: 17px;
  background-position: -5px -45px;
}

.sprite-Microlancer {
  width: 167px;
  height: 42px;
  background-position: -5px -72px;
}

.sprite-Pinterest {
  width: 17px;
  height: 21px;
  background-position: -5px -124px;
}

.sprite-Tuts_ {
  width: 131px;
  height: 41px;
  background-position: -32px -124px;
}

.sprite-Twitter {
  width: 19px;
  height: 16px;
  background-position: -32px -45px;
}

.sprite-WordPress {
  width: 186px;
  height: 42px;
  background-position: -197px -5px;
}

.sprite-leaf {
  width: 14px;
  height: 16px;
  background-position: -182px -57px;
}
