.logo {
  display: flex;
  align-items: center;

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
    margin: .5em;
    border-radius: 1.4rem;
    background-color: #7cc576;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 41px;
    color: #555555;
  }
}