.nav {
  
  &__list {
    display: flex;
    list-style: none;
  }

  &__link {
    margin: 0 .5rem;
    padding: 1.5rem;
    font-weight: 500;
    color: #555555;
    cursor: pointer;
  }

  @include media(medium) {
    display: none;
    justify-content: space-around;
  }
}