.relax {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../../img/bg2.png) no-repeat 60% 40% / cover;
  width: 97%;
  padding: 6rem 7rem; 

  @include media(small) {
    width: 100%;
    padding: 6rem 2rem;
    background: url(../../img/bg2.png) no-repeat 60% 80%;
  }
}