.value-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100rem;
  margin: 0 auto;
}

.value {
  margin: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  max-width: 28rem;
  align-items: center;
  justify-content: space-between;
  height: 22rem;

  &__image {
    display: flex;
    justify-content: center;
    width: 8.4rem;
    height: 8.4rem;
    border-radius: 4.2rem;
    border: 3px solid #777777;
  }

  &__icon {
    width: 50%;
  }

  &__desc {
    text-align: center;
  }
}