.container {
  &__header {
    margin: 2rem auto;
    max-width: 100rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.welcome-page {
  background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(../../img/bg.png) no-repeat 50% 80% / cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 53rem;
}

.section-services {
  max-width: 100rem;
  margin: 8rem auto;
}

.section-relax {
  display: flex;
  height: 50rem;
}

.gear {
  width: 33%;
  background: #e9e9e9 url(../../img/gear.png) no-repeat 100% 60%;

  @include media(small) {
    width: 0%;
  }
}

.relax {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(../../img/bg2.png) no-repeat 60% 40% / cover;
  width: 97%;
  padding: 6rem 7rem; 

  @include media(small) {
    width: 100%;
    padding: 6rem 2rem;
    background: url(../../img/bg2.png) no-repeat 60% 80%;
  }
}

.section-latest {
  background: url(../../img/tablet.png) no-repeat 100% 100%;
  padding: 7rem 0;

  @include media(large) {
    background: url(../../img/tablet.png) no-repeat 150% 100%;
  }

  @include media(medium) {
    background: none;
  }
}

.center {
  padding-top: 7rem;
  max-width: 100rem;
  margin: 0 auto;

  @include media(large) {
    margin: 0 2rem;
  }
}

.section-value {
  margin: 0 auto;
  padding: 7rem 0;
  background-color: #f9f9f9;
}

.section-contact {
  padding: 7rem 0;
  background: radial-gradient(rgb(124, 197, 118) 60%,rgb(166, 241, 159));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-logos {
  margin: 4rem auto;
  background: rgba(255, 255, 255, 0.089);
  max-width: 100rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logo-comp {
  margin: 2rem;
  width: fit-content;
  // height: 10rem;
}

.section-clients {
  margin: 6rem 0;
}

.section-footer-menu {
  background: #222222;
}



